<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <location path="." inheritInChildApplications="false">
    <connectionStrings>
      <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
   <add name="AVAConnectionString" connectionString="Data Source=10.226.182.26\AVAPPRD,1666;Initial Catalog=ava;User ID=ava_adm;pwd=ava123$$" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <!-- SMTP Settings -->
      <add key="SMTPServer" value="10.225.208.15" />
      <add key="SMTPServerPort" value="25" />
      <add key="AdminEmailName" value="Globe Telecom Procurement" />
      <add key="AdminEmailAddress" value="gtcalahi@globetel.com.ph" />
	<add key="AdminNoReplyEmail" value="noreply@globetel.com.ph" />
      <!-- End of SMTP Settings -->
      <!-- TxtConnect WebService Settings -->
      <add key="TxtConnect.txtconnws" value="https://203.177.154.169/webservices/txtconnws.asmx" />
      <add key="TxtConnWS.tcws" value="https://203.177.154.169/webservices/txtconnws.asmx" />
      <add key="TxtConnUsername" value="GT_E_SOURCE" />
      <add key="TxtConnPassword" value="globe123" />
      <add key="TxtConnOrganization" value="GT_E_SOURCE" />
      <add key="UseNewSendMethod" value="false" />
      <add key="UseProxy" value="false" />
      <add key="ProxyHost" value="192.21.200.132" />
      <add key="ProxyPort" value="8080" />
      <add key="ProxyUsername" value="isol_rudolph" />
      <add key="ProxyPassword" value="globe123" />
      <add key="ProxyDomain" value="globetel" />
      <add key="Mask" value="GT E-Source" />
      <add key="ValidMobilePhonePrefixes" value="0905|0906|0910|0915|0916|0917|0918|0919|0920|0921|0922|0926|0927|0928" />
      <!-- End of TxtConnect WebService Settings -->
      <!-- Page Settings -->
      <add key="ServerUrl" value="https://gtva.globe.com.ph/" />
      <add key="LoginPage" value="~/login.aspx" />
      <!-- End of Page Settings -->
      <!-- Log Settings -->
      <add key="LogName" value="AvaLog" />
      <add key="ProgramName" value="AvaApp" />
      <!-- Log Directory - folder to which log files will be created (e.g.: C:\\Temp\\AvaLogs\\) -->
      <add key="LogDirectory" value="C:\Temp\AvaLogs\" />
      <!-- End of Log Settings -->
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
        <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
      </authentication>

      <membership>
        <providers>
          <clear />
          <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        </providers>
      </membership>

      <profile>
        <providers>
          <clear />
          <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
        </providers>
      </profile>

      <roleManager enabled="false">
        <providers>
          <clear />
          <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
          <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
        </providers>
      </roleManager>

      <customErrors defaultRedirect="error1.aspx" mode="On">
      </customErrors>

      <httpHandlers>
        <add verb="GET" path="Image.ashx" type="ASPNET_Captcha.Image, ASPNET_Captcha" />
      </httpHandlers>
    </system.web>

    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
  </location>
  <!-- ************************************************************************************************************************************ -->
  <!-- ************************************************************************************************************************************ -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <defaultDocument>
        <files>
          <remove value="default.aspx" />
          <remove value="iisstart.htm" />
          <remove value="index.html" />
          <remove value="index.htm" />
          <remove value="Default.asp" />
          <remove value="Default.htm" />
          <add value="login.aspx" />
        </files>
      </defaultDocument>
      <directoryBrowse enabled="false" />
    </system.webServer>
    <system.webServer xmlns="">
      <!--<validation validateIntegratedModeConfiguration="false" />-->
      <handlers>
        <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </handlers>
    </system.webServer>
    <system.net>
      <mailSettings>
        <smtp deliveryMethod="Network" from="noreply@globetel.com.ph">
          <network host="10.225.208.15" userName="" password="" port="25" />
        </smtp>
      </mailSettings>
      <!--<mailSettings>
        <smtp deliveryMethod="SpecifiedPickupDirectory">
          <specifiedPickupDirectory pickupDirectoryLocation="C:\ava_dropbox" />
        </smtp>
      </mailSettings>-->
    </system.net>
  </location>
    <system.web>
        <sessionState timeout="60" />
    </system.web>
  
<system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520" /> <!--20MB-->
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
