body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #e6ebef;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
*{
	margin: 0;
}
html, body {
	height: 100%;
}
a{
	color: #0085ca;
	}
a:hover{
	text-decoration:none;
	color:#333;
	}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.header{
	height:45px;
	background:url(../images/header.png) repeat-x;
	}
.header_inner{
	width:950px;
	margin:auto;
	padding-top:5px;
	}	
.content{
	width:950px;
	margin:auto;
	}
	
.footer, .push {
	height: 4em;
}
.footer{
	background:url(../images/rudy_bg_footer.png) no-repeat bottom center;
	width:100%;
	height:220px;
	}
.rounded-corners
{
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.rounded-corners-bottom
{
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
	-moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.rounded-corners-bottom2
{
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
	-moz-border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -khtml-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
input[type="text"], input[type="password"]{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #999999;
	background-color: #ffffff;
	height: 30px;
	width: 270px;
	margin-top: 20px;
	/*margin-left: 25px;*/
	float: left;
	padding-left: 10px;
	border:#ccc solid thin;
	}
.clearfix{
	clear:both;
	}